@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IndieFlower-Regular'), url(/fonts/IndieFlower-Regular.ttf) format('ttf');
  }

#canvas {
    background-image: url("/imagenes/portada.png");
    background-size: cover;
    border-radius: 5%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 500px;
    margin-top: 10px;
}

#start {
        height: 80px;
    width: 200px;
}

#start > button {
    font-size: 35px;
    border-radius: 8%;
}
