@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IndieFlower-Regular'), url(/fonts/IndieFlower-Regular.ttf) format('ttf');
  }
  
body {
    background-color: #f8f8ff;
    font-size: 40px;
    background-image: url("./imagenes/paper-letter-background.jpg");
    background-repeat:no-repeat;
    background-size: cover 
}

#canvas {
    border-radius: 5%;
    object-fit: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 10px;
}

#start {
        height: 80px;
    width: 200px;
}

#add {
    height: 80px;
    width: 200px;
    margin-right: 40px;
}

button {
    font-size: 35px;
    border-radius: 15px;
    margin-left: 50px;
    margin-top: 20px;
    box-shadow: 1px 3px 2px gray;
    border: none;
}

button:hover {
    background-color: #f8f8ff;
}

#reloj {
    height: 60px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 400px;
}

#reloj > span {
    font-size: 30px;
    border-radius: 8%;
    padding: 5px 20px;
    vertical-align: middle;
    text-align: center;
}

#cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 80px;
    margin-right: 10px;
    max-height: 600px;
}

article {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

#texto {
    margin-right: 230px;
}

#listaPalabras {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside {
    position: absolute;
    top: 469px; right: 180px;
}

.canvas0 {
    background-image: url("/imagenes/portada.png");
    border-radius: 5%;
    object-fit: none;
}

.canvas1 { /* estos tres canvas me permitirían cambiar de clase y entonces cambiar de imagen de fondo*/
    background-image: url("/imagenes/you-win.png");
    border-radius: 5%;
    object-fit: none;
}

.canvas2 {
    background-image: url("/imagenes/you-lose.png");
    border-radius: 5%;
    object-fit: none;
}

.canvas3 {
    background-image: none;
}

.hidden {
    display: none;
}