@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IndieFlower-Regular'), url(/fonts/IndieFlower-Regular.ttf) format('ttf');
  }

body {
    background-color: #f8f8ff;
    font-size: 40px;
}

#canvas {
    background-image: url("/imagenes/portada.png");
    background-size: cover;
    border-radius: 5%;
    object-fit: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-top: 10px;
}

#start {
        height: 80px;
    width: 200px;
}

#start > button {
    font-size: 35px;
    border-radius: 8%;
    margin-left: 50px;
    margin-top: 20px;
}

#add {
    height: 80px;
    width: 200px;
    margin-right: 40px;
}

#add > button {
    font-size: 35px;
    border-radius: 8%;
    margin-left: 50px;
    margin-top: 20px;
}

#reloj {
    height: 60px;
    width: 200px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 400px;
}

#reloj > span {
    font-size: 30px;
    border-radius: 8%;
    padding: 5px 20px;
    vertical-align: middle;
    text-align: center;
}
#cuerpo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-left: 80px;
    margin-right: 10px;
}

article {
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

#texto {
    margin-right: 230px;
}

#botones {
    display: flex;
    justify-content: space-between;
    margin-right: 200px;
}

#listaPalabras {
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside {
    position: absolute;
    top: 469px; right: 180px;
}